
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(0, 0%, 8%);
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.container{
    background: hsl(0, 0%, 12%);
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;

    border-radius: 5px;
    padding: 50px 50px;
    text-align: center;
}

img{
    width: 20vh;
    border-radius: 50%;
}

.Title{
    margin: 20px;
}
h1{
    color: hsl(0, 0%, 100%);
}

.address{
    margin: 10px;
    color: hsl(75, 94%, 57%);
}

.Job{
    margin-top: 20px;
    color: hsl(0, 0%, 100%);
}

ul{
    list-style: none;
}

li{
    background:hsl(0, 0%, 20%) ;
    color: hsl(0, 0%, 100%);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}
a{
    color:hsl(0, 0%, 100%) ;
    text-decoration: none;
}

li:hover{
    cursor: pointer;
    background: hsl(75, 94%, 57%);
}

li:hover a{
    color: black;
}


@media (max-width: 375px) {
    .container {
        margin: 10px;
        width: 80%; 
        padding: 20px;
    }

    img {
        width: 15vh;
    }

    h1 {
        font-size: 1.2em;
    }

    li {
        font-size: 0.9em;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 500px;  
        padding: 50px;
    }

    img {
        width: 20vh;
    }

    h1 {
        font-size: 2em;
    }

    li {
        font-size: 1em;
    }
}
